.ce-inline-toolbar {
  @apply --overlay-pane;
  padding: 6px;
  transform: translateX(-50%);
  display: none;
  box-shadow: 0 6px 12px -6px rgba(131, 147, 173, 0.46),
              5px -12px 34px -13px rgba(97, 105, 134, 0.6),
              0 26px 52px 3px rgba(147, 165, 186, 0.24);

  &--showed {
    display: block;
  }

  [hidden] {
    display: none !important;
  }

  &__buttons {
    display: flex;
  }
}

.ce-inline-tool {
  @apply --toolbar-button;
  line-height: normal;

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  &--last {
    margin-right: 0 !important;
  }

  &--link {
    .icon--unlink {
      display: none;
    }
  }

  &--unlink {
    .icon--link {
      display: none;
    }
    .icon--unlink {
      display: inline-block;
    }
  }

  &-input {
    background-color: var(--bg-light);
    outline: none;
    border: 0;
    border-radius: 3px;
    margin: 6px 0 0;
    font-size: 13px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    display: none;

    &::placeholder {
      color: var(--grayText);
    }

    &--showed {
      display: block;
    }
  }

  &-header {
    font-size: 12px;
    padding: 8px;
    background: #e6e6e6;
  }

  &-div {
    /* height: 100px; */
    /* background-color: var(--bg-light); */
    display: none;
    padding: 5px;

    &--showed {
      display: block;
    }
  }

 
}

.existing-list{
  border: 1px solid #ccc;
  /* padding: 8px; */
  margin: 10px 0;
  /* padding-bottom: 10px; */
  height: 100px;
  overflow-y: scroll;
}
.existing-list-item{
  padding: 5px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.existing-list-item:hover{
  background-color: #e6e6e6;
}
.selected-item {
  color: #358180;
  font-weight: bold;
}

.search-input {
  background-color: var(--bg-light);
  outline: none;
  border: 0;
  border-radius: 3px;
  /* margin: 6px 0 0; */
  font-size: 13px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}